.profile__edit {
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-color: black;
  margin-top: 15px;
  margin-left: 18px;
}

.profile__edit:hover {
  opacity: 0.5;
}